/* ------------- Basic setup --------------*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background-color: #FEFDFC;
    color: #286AC3;
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    user-select: none;
}

.btn {
    transition:
        background-color 0.4s ease-in-out,
        color 0.4s ease-in-out;
    background-color:#F2F2F2;
    border-radius: 100px;
    max-height: 52px;
    max-width: 240px;
    padding: 12px 32px;
    color: #DBA08F;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover{
    background-color:#286AC3;
    border-radius: 100px;
    max-height: 52px;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.container {
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
}

footer {
    width: 90%;
    max-width: 920px;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

footer .btn {
    margin-top: 80px;
}

/* ------------- Text --------------*/

h1 {
    font-size: 120px;
    font-weight: 800;
    color: #286AC3;
    line-height: 100px;
    max-width: 100%;
    margin-bottom: 12%;
}

h2 { 
    font-size: 100px;
    font-weight: 800;
    line-height: 96px;
    color: #DBA08F;
    letter-spacing: -1.2px;
}

h3 { 
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -1.2px;
    color: #DBA08F;
}

h4 {
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1.2px;
    color: #DBA08F; 
}

h5 { 
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: #4F4F4F;
}


p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: #20569F;
}

.more-icon {
    font-size: 100px;
    font-weight: 800;
    line-height: 96px;
    color: #DBA08F;
    /* or 96% */
    letter-spacing: -1.2px;
    transition: transform 0.2s ease-in-out;
}

.more-icon.close {
    transform: rotate(45deg);
}

.header-section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* ------------- About section --------------*/

.presentation {
    text-align: left;
    z-index: 1;
    margin-top: 20%;
}

.presentation p {
    margin-top: 20px;
}



/* 
.year-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.year { 
    transform: rotate(-90deg) translateX(-50px);
}

.disclaimer {
    transform: rotate(-90deg) translateX(100px);
} */

.profile-image { 
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: flex-end; /* align vertical */
}


.profile-image img {
    width: 472px;
    margin-left: -146px;
}

/* ------------- About section ends --------------*/

/* ------------- Xp section --------------*/

.experience-section {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    padding: 72px 0;
}

.experience {
}

.experience:not(:first-child) {
    margin-top: 72px;   
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.experience-details {
    display: flex;
    margin-top: 48px;
    max-height: 0px;
    border-bottom: 2px solid rgba(40, 106, 195, 0);
    overflow: hidden;
    transition:
        max-height 0.6s ease-in-out,
        border-bottom 0.2s ease-in-out 0.6s;
}

.experience-details.visible {
    border-bottom: 2px solid rgba(40, 106, 195, 1);
    max-height: 350px;
}

.experience-details .job-details {
    flex: 1;
}

.experience-details .description {
    flex: 2;
}

.experience-header:hover h2,
.experience-header:hover .more-icon {
    transition: 0.3s color ease;
    color: #286AC3;
    cursor: pointer;
}


.role{
    
}


.description {
    margin-bottom: 32px;
}


/* ------------- Xp section ends --------------*/


.skills-section {
    min-height: 100%;
    padding: 72px 0;
}

.skills {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.skill {
    max-width: 420px;
    border-bottom: 2px solid #286AC3;
    padding-bottom: 20px;
    margin-bottom: 80px;
}

.skill ul {
    margin-top: 44px;
    list-style: none;
    
}

.skill li{
    margin-bottom: 16px;
}

.skill ul li:before {
    content: '✢';
    margin-right: 12px;
}

.projects {  
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.project h4 {
    transition: color 0.4s ease-in-out;
    color: #DBA08F
}

.project h4:hover{
    color: #286AC3;
}

.project-image {
    max-width: 244px;
    margin-bottom: 20px;
}

.project-interaction { 
    background-color: none;
   position: relative;
}

.overlay-text { 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#286AC3;
}

.project-interaction:hover .overlay-text { 
   opacity: 0.6;
   cursor: pointer;
}

.project-title {
    border-top: 2px solid #286AC3;
}

