@import "fonts"; 
@import "colors"; 


.primary-btn {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: $nevoa-espacial;
    border-radius: 100px;
    max-height: 56px;
    max-width: fit-content;
    padding: 12px 32px;
    color: $azulejo-marciano;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.8px;
}

.primary-btn:hover {
    background-color: $azulejo-marciano;
    border-radius: 100px;
    max-height: 56px;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.8px;
  }

.secondary-btn {
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: none;
    border-radius: 100px;
    max-height: 56px;
    max-width: fit-content;
    padding: 12px 32px;
    color: $azulejo-marciano;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.8px;
}

.secondary-btn:hover {
    background-color: $nevoa-espacial;
    border-radius: 100px;
    max-height: 56px;
    padding: 12px 32px;
    color: $azulejo-marciano;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.8px;
  }

.dismantled-btn {
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: $nevoa-espacial;
    border-radius: 100px;
    max-height: 56px;
    max-width: fit-content;
    padding: 12px 32px;
    color: $azulejo-marciano;
    font-size: 20px;
    letter-spacing: -0.8px;
}