/* ------------- Basic setup --------------*/
@import "media";
@import "fonts"; 
@import "buttons"; 
@import "colors"; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: $nevoa-marciatica;
  color: $azulejo-marciano;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body {
  animation: fadeInAnimation ease 0.3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;  
}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.container {
  width: 90%;
  max-width: 1056px;
  margin: 0 auto;

  @include sm {
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
  }
}

footer {
  display: flex;
  align-items: flex-start;
  padding: 80px 0 160px 0;

  h3 {
    max-width: 80%;
  }

  .primary-btn {
    margin-top: 80px;

    @include sm {
      margin: 32px 0 0 0;
    }
  }

  @include md {
    flex-direction: column;

    h3 {
      max-width: 100%;
    }
  }
}


a { 
  text-decoration: none;
}


.header-section {
  display: flex;
  flex-direction: row;
  height: 100%;

  @include sm {
    height: unset;
  }
}

/* ------------- Navbar area --------------*/
.header {
  background-color: $nevoa-marciatica;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $nevoa-marciatica;
}

.header .logo {
  display: block;
  float: left;
  padding: 44px 180px;
  text-decoration: none;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: $ground-control;

    @include md {
      display: none;
    }
}

.home-anchor-mobile {
  display: block;
  float: left;
  margin: 28px 0 0 28px;
  text-decoration: none;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.25px;
  color: $ground-control;

  @media (min-width: 1024px) { 
    display: none;
  }
  
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  list-style: none;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.8px;
  color: $azulejo-marciano;
  margin: 40px 160px 0 0;

    a:link { 
      color: $azulejo-marciano;
    }
  
    a:visited { 
    text-decoration: none;
    color: $azulejo-marciano;
    }
    
    a:hover { 
      text-decoration: underline;
      color: $dunas-de-marte;
      }
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 40px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $azulejo-marciano;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $azulejo-marciano;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 0 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* ------------- About section --------------*/

.who {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 76px;
  letter-spacing: -1.2px;
  text-decoration-line: underline;
  pointer-events: auto;
  color: $azulejo-marciano;
  position: relative;
  transition: 0.6s ease-in-out;

  a:visited {
    text-decoration: underline;
    color: $azulejo-marciano;
  }

  a:hover {
    text-decoration: underline;
    color: $nevoa-marciatica;
  }

  @include sm {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: $nevoa-marciatica;
  }

}

.profile-image {
  display: none;
  position: absolute;
  width: 400px;
  height: 400px;
  transition: 0.6s ease-in-out;

  img {
    width: 100%;
    height: auto;
  }

  @include md {
    
  }

}



.who:hover ~ .profile-image {
  display: flex;
  float: right;
  margin-left: 620px;
  margin-top: -80px;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}


.presentation {
  text-align: left;
  z-index: 1;
  margin-top: 140px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 890px;
  
  @include md {
    margin-top: 160px;
  }

  .hello {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 76px;
    letter-spacing: -1.2px;
    color: $ground-control;

    @include sm {
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -1px;
      color: $ground-control;
    }

  }

  p {
    margin-top: 20px;
  }
}

.presentation-interaction {
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(5fr);

    .primary-btn {
      margin: 16px 0 0px 0;
      grid-column-start: 3;

      @include md { 
        margin: 0 0 0 0;
      }

    }
}


/* ------------- About section ends --------------*/

/* ------------- Xp section --------------*/

.section-title {
  text-align: left;
  z-index: 1;
  padding-bottom: 12px;
  margin-top: 120px;

  &:first-of-type {
    margin-top: 72px;
  }

  @include sm {
    margin-top: 40px;
  }
  
}

.experience-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  padding: 72px 0;

  @include sm {
    min-height: unset;
    padding: 12px 0;
  }

  .experience {
    &:not(:first-child) {
      margin-top: 72px;

      @include sm {
        margin-top: 36px;
      }
    
    }

    &:last-of-type {
      margin-bottom: 72px;

      @include sm {
      margin-bottom: 44px;
       }
    }
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    user-select: none;

    &:hover h1,
    &:hover .more-icon {
      color: $dunas-de-marte;;
      cursor: pointer;
    }

    @include sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
  }
  
  .company {
    
    @include sm {
      font-family: "Muli", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 68px;
        letter-spacing: -1.2px;
        color:$azulejo-marciano;
    }
  }

  .experience-details {
    display: flex;
    margin-top: 60px;
    max-height: 0px;
    border-bottom: 2px solid rgba(40, 106, 195, 0);
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, border-bottom 0.2s ease-in-out 0.6s;

    &.visible {
      max-height: 496px;
    }

    .job-details {
      flex: 1;
    }

    .role {
      @include sm {
        font-family: 'Muli', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.5px;
        color: $ground-control;
      }
    }


    .description {
      flex: 2;
      margin-bottom: 32px;

      @include md {
        margin-top: 20px;
        
        p {  
          font-family: Merriweather;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0.25px;
          color: $ground-control;
        } 
      }
    }

    @include sm {
      margin-top: 20px;
      flex-direction: column;
    }
  }

  p a {
    color: $azulejo-marciano;
    text-decoration: underline;

    &:hover {
      color: $dunas-de-marte;
    }

  }
}

.sticky-bar {
  display: grid;
  grid-template-columns: repeat(9fr);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1em;
  width: 100%;
  background-color: #F2F2F2;
  z-index: 6;

  .alien-cta {
    grid-column-start: 2;
  }

  p {
    color: $ground-control;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    letter-spacing: 0.25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
  }

  .alien-link {
    cursor: pointer;
    color: $azulejo-marciano;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: $dunas-de-marte;
      text-decoration: underline;
    }
  }
  
  @include sm {
    display: none;
  }
}



/* ------------- Xp section ends --------------*/


/* ------------- Projects section begins --------------*/

.projects {
  padding: 72px 0;
  display: grid;
  grid-template-columns: 552px 1fr 1fr;
  grid-column-gap: 52px;

  @include md {
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }

  h6 {
    border-bottom: 1px solid $cor-de-pele;
    margin: 0 0 8px 0;

    @include md {
      grid-column: 1 / -1;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: #828282;
    }
  }

  .older-projects {
    grid-column: 2 / 4;
    margin: -180px 0 0 0;

    @include md {
      grid-column: 1 / -1;
    }
    
  }

  a {
    color: $azulejo-marciano;
    transition: .2s ease-in-out;

    &:hover {
      cursor: pointer;
      color: $dunas-de-marte;
    }
  }

  .project-categories {
    border: none;
    margin: 4px 0 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: $ground-control;
  }

  .spotlight {
    grid-column-start: 1;

    @include md {
      grid-column: 1 / -1;
      margin: 0 0 40px 0;

      .spotlight-title {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -1.2px;
      }
    }
  }

  .most-recent {
    grid-column: 2 / 4;

    @include md {
      grid-column: 1 / -1;
      margin: 0 0 40px 0;
    }
  }

  .old-but-gold {
    grid-column-start: 2;
    margin: -140px 0 0 0;

    @include md {
      grid-column-start: 1;
      margin: 0 0 20px 0;
    }
  }

  .simple-older {
    grid-column-start: 3;
    margin: -140px 0 0 0;

    @include md {
      grid-column-start: 2;
      margin: 0 0 20px 0;

    }
  }
}

/* ----------------------------------- Projects section ends-----------------------------------*/

/* ----------------------------------- article style -----------------------------------*/

article {
  display: flex;
  flex-direction: row;
  max-width: 92%;
  flex-wrap: wrap;
  margin: 0 auto;

  @include md {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  column-gap: 12px;

  }

  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 96px;
    letter-spacing: -1.2px;
    color: $ground-control;
    margin: 260px 0px 20px 0;
  
    @include md {
      grid-column-start: 2;
      font-family: 'Muli', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1.2px;
      color: $ground-control;
      margin: 80px 0px 20px 0;
    }
  
  }

  h4 {
    margin: 0 0 28px 0;
    color: $ground-control;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.8px;

    @include md {
      grid-column-start: 2;
      margin: 0 0 24px 0;
    }
  }

  h4:last-of-type {
    margin: 60px 0 24px 0;
  }

  h5 {
    margin: 20px 0 0 0;
    color: $ground-control;

    @include md {
      grid-column-start: 2;
      margin: 40px 0 0 0;
    }
  }

  h6 {
    margin: 60px 0 12px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: $dunas-de-marte;

    @include md {
      grid-column-start: 2;
      margin: 20px 0 16px 0;
    }
  }

  .text-container {
    max-width: 60%;
    margin: 0 auto;
  }

}


.observation {
  display: flex;
  max-width: 76%;
  justify-content: left;
  margin: 60px auto;
  background-color: $nevoa-espacial;
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 32px;
  color: $ground-control;

  a {
    color: $azulejo-marciano;
  }

  a:hover {
    color: $dunas-de-marte;
  }

  @include md {
    display: none;
  }
}

.project-context {
  display: flex;
  flex-direction: column;
}

.disciplines { 
  color: #828282;
}

.project-details {
  color: #828282;

  @include md {
    display: none;
  }
  
}



.article-text {
  color: $ground-control; 
  display: inline-block;
  margin: 0px 0 24px 0;
  grid-column-start: 3;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #828282;


  a {
    text-decoration: underline;
    color: $azulejo-marciano;
  }
  
  a:visited {
    text-decoration: underline;
    color: $azulejo-marciano;
  }

  a:hover {
    text-decoration: underline;
    color: $dunas-de-marte
  }

  a::selection {
    color: white;
  }

  @include md {
    grid-column-start: 2;
    margin: 20px 0 0 0;

  }
  
}

.article-text::selection {
  color: white;
  background-color: $azulejo-marciano;
}

.bullet-list {
  color: $ground-control; 
  margin: 12px 0 20px 0;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: #828282;

  @include md {
    grid-column-start: 2;
  }
}

.bullet-list li {
  margin-top: 20px;
}

.text-eye {
  margin: 80px 0 0 0;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;  
  line-height: 56px;
  letter-spacing: -1.2px;
  color: $ground-control;

  @include md {
    grid-column-start: 2;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: $ground-control;
    word-break: initial;
  }
}

.source {
  margin: 4px 0 20px 0;
  font-family: "Muli";
  font-style: normal;
  font-weight: lighter;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.25px;
  color: #828282;

  @include md {
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #828282;
  }

}

.horizontal-image-grid {
  display: flex;
  flex-direction: row;
  margin: 40px 12px;   
  padding: 12px 8px;

  @include md {
    grid-template-columns: 1fr;
    padding: 20px 20px 20px 20px;
    margin: 48px 0 48px 0; 
  }

  .horizontal-grid img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border: 1px solid $nevoa-espacial;
  }

  .horizontal_item--1 {
    grid-column-start: 1;

    @include md {
      grid-column-start: 1;
    }
  }

  .horizontal_item--2 {
    grid-column-start: 2;

    @include md {
      grid-column-start: 1;
    }
  }

  .horizontal_item--3 {
    grid-column-start: 3;

    @include md {
      grid-column-start: 1;
    }
  }
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-color: $nevoa-espacial;
}

.grid__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 8;

}

.grid__item--2 {
  grid-column-start: 6;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid__item--3 {
  grid-column-start: 6;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 8;
}

.display-full-image { 
  grid-column-start: 2;
  grid-column-end: 5;
  margin: 72px 0 60px 0;

    @include sm {
      display: none;
    }
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-column: 1 / -1;
  grid-gap: 12px;
  margin: 52px 0 52px 0; 
  padding: 12px;
  background-color: $nevoa-espacial;

  @include md {
    display: inline;
  }
  
  .process-item img {
    width: 100%;
    object-fit: scale-down;
  }

  .process__item--1 {
    grid-column: 4 / 10;
    grid-row: 1 / -1;

    @include md {
      
    }
  }

  .process__item--2 {
    width: 96%;
    grid-column: 1 / 4;
    grid-row: 1 / 4;

    @include md {
      margin: 16px 0 0 0;
      width: 100%;
    }
  }

  .process__item--3 {
    width: 96%;
    grid-column: 1 / 4;
    grid-row-start: 5;

    @include md {
      margin: 16px 0 0 0;
      width: 100%;
    }
  }

  .image-source {
    grid-column: 4 / 10;
    grid-row-start: 7;
    margin: 60px 0 0 0;
    font-family: "Muli";
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.25px;
    color: #828282;

    @include md {
      display: none;
    }
  }
}

.result-image {
  grid-column: 1 / -1;
  background-color: $nevoa-espacial;
}

.ending-decoration {
  grid-column-start: 3;
  margin: 12px 0;

  @include md {
    grid-column-start: 2;
  }
}


.know-more-image-anvisa {
  display: none;
}

.know-more a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  color: $azulejo-marciano;
  pointer-events: auto;
  cursor: pointer;
  transition: ease-in-out;
  }


.know-more:hover ~ .know-more-image-anvisa {
  display: flex; 
}

.single-images {
  grid-column: 1 / -1;
  background-color: $nevoa-espacial;
  margin: 40px 120px 40px 120px;

  .solo {
    max-width: 100%;
    object-fit: cover;
    align-self: center;
  }

  .videos-align {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .video-solo {
    border: none;
  }

  @include md {
    margin: 20px 0 20px 0;
  }
}

.closing-article {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.8fr 0.4fr;
  padding: 60px 0 120px 0;

    .next-project {
      grid-column-end: 4;
      margin-bottom: 120px;

      @include md {
        grid-column-start: 2;
      }
    }

    @include md {
      grid-template-columns: 16px 1fr 16px;
      grid-column-gap: 12px;
      grid-column-start: 2;
    }
}
/*----------------------------------- About style -----------------------------------*/

.image-area {
  display: flex;

  .about-picture {
    margin: 120px 0 0 0;
    height: 520px;
    position: absolute;
    z-index: -1;  
  }

  img {
    object-fit: contain;
  }

  @include md {
    .about-picture {
      height: 240px;
      position: relative; 
    }
  }
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
 
  .text-container {
    max-width: 680px;
    margin: 40px 0;
  }

  .about-header {
    max-width: 680px;
    margin: 200px 0 80px 0;
  }

  h1 {
    color: $dunas-de-marte;
  }

  p {
    margin: 20px 0 0 0;
  }

  .about-h4 {
    max-width: 680px;
  }

  .principles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0;
  
    .principle {
      margin: 0 40px;
      max-width: 240px;

      .principle-icon {
        padding: 24px 4px;
        max-width: 80px;
      }
    
      h4 {
        font-weight: 800;
        font-size: 36px;  
        line-height: 40px;
        letter-spacing: -1px;
        color: $dunas-de-marte;
      }
    
      p {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.5px;
        color: $ground-control;
      }
    }
  }

  @include md {
    .about-container {
      max-width: 92%;
    }

    .about-header {
      max-width: 92%;
      margin: 0;
    }

    .about-h4 {
      word-break: normal;
    }

    .principles {
      flex-direction: column;
      justify-content: flex-start;
    }

    .principle {
      margin: 24px 0 !important;
      max-width: 100% !important;
    }
  }
}


.go-further {
  display: grid;
  grid-template-columns: 100px 0.8fr 680px 100px;
  grid-column-gap: 20px;

  @include md {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
  }
  
  .further-image {
    grid-column-start: 2;
    max-width: 372px;
    z-index: -2;

    @include md {
      display: none;
    }
  }

  h1 {
    grid-column-start: 3;
    margin: 80px 0 0 0;
    z-index: -1;

    @include md {
      grid-column-start: 2;
      font-family: Muli;
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 40px;
      letter-spacing: -1px;
      color: $ground-control;
    }
  }

  p {
    margin: 44px 0 0 0;
  }


  .call-to-further {

    @include md {
      grid-column-start: 2;

      p { 
        font-family: 'Merriweather', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.25px;
        color: $ground-control;
        margin: 40px 0 0 0;
      }

    }
  }

}

.further-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0 0 0;

  .primary-btn {
    grid-column-start: 1;
  }

  .secondary-btn {
    grid-column-start: 2;
  }
}

@include md {
  .further-btn  {
    grid-template-columns: repeat(2, 1fr);
  }
  .primary-btn {
    grid-column-start: 1;
  }
  
  .secondary-btn {
    grid-column-start: 2;
  }
}




.key-step {
  user-select: none;
  color: $azulejo-marciano;

  h3 {
    color: $azulejo-marciano;
  }

  &:hover {
    color: $dunas-de-marte;
    cursor: pointer;
  }

  &:active {
    color: $dunas-de-marte;
  }

  @include sm {
    grid-column-start: 2;
  }

}

.active, .key-step:hover {
  color: $azulejo-marciano;
}


.content {
  background-color: $nevoa-marciatica;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}