/* ------------- Basic setup --------------*/

html {
  scroll-behavior: smooth;
}

@import "media";
@import "fonts"; 
@import "buttons"; 
@import "colors"; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $nevoa-marciatica;
  color: $azulejo-marciano;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}


.container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;

  @include sm {
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
  }
}

footer {
  display: flex;
  align-items: flex-start;
  padding-bottom: 120px;

  .primary-btn {
    margin-top: 80px;

    @include md {
      margin: 0 auto;
      
    }
  }
}

a { 
  text-decoration: none;
}


.header-section {
  display: flex;
  flex-direction: row;
  height: 100%;

  @include sm {
    height: unset;
  }
}

/* ------------- Navbar area --------------*/

.nav-area {
  display: grid;
  grid-auto-flow: column;
  min-height: 80px;
  z-index: 2;
  

  .nav-itens {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 48px 0 0 0;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.8px;
    color: $azulejo-marciano;
  }

  .nav-itens {
    a:visited { 
    text-decoration: none;
    color:$azulejo-marciano;
    }
    
    a:hover { 
      text-decoration: underline;
      color:$dunas-de-marte;
      }
    
  }

  .home-anchor {
    margin: 48px 0 0 0;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: $ground-control;

  }
}

/* ------------- About section --------------*/

.who {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 68px;
  line-height: 76px;
  letter-spacing: -1.2px;
  text-decoration-line: underline;
  pointer-events: auto;
  cursor: pointer;
  color: $azulejo-marciano;
  position: relative;
  transition: 0.3s;

  a:visited {
    text-decoration: underline;
    color: $azulejo-marciano;
  }

  a:hover {
    text-decoration: underline;
    color: #fff;
  }

}

.profile-image {
  display: none;
  position: absolute;
}

.who:hover ~ .profile-image {
  display: flex;
  float: right;
  margin-left: 620px;
  margin-top: -80px;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}


.presentation {
  text-align: left;
  z-index: 1;
  margin-top: 140px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;

  .hello {
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 76px;
    letter-spacing: -1.2px;
    color: $ground-control;
  }

  p {
    margin-top: 20px;
  }
}

.presentation-interaction {
  margin: 120px 0 0 0;
  display: grid;
  grid-template-columns: repeat(5fr);

    .primary-btn {
      margin: 16px 0 0px 0;
      grid-column-start: 6;
    }
}


/* ------------- About section ends --------------*/

/* ------------- Xp section --------------*/

.section-title {
  text-align: left;
  z-index: 1;
  padding-bottom: 12px;

  &:first-of-type {
    margin-top: 72px;
  }
  
}

.experience-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  padding: 72px 0;

  @include sm {
    min-height: unset;
  }

  .experience {
    &:not(:first-child) {
      margin-top: 72px;

      @include sm {
        margin-top: 36px;
      }
    
    }

    &:last-of-type {
      margin-bottom: 72px;
    }
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    user-select: none;

    &:hover h1,
    &:hover .more-icon {
      color: $dunas-de-marte;;
      cursor: pointer;
    }

    @include sm {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
  }

  .experience-details {
    display: flex;
    margin-top: 48px;
    max-height: 0px;
    border-bottom: 2px solid rgba(40, 106, 195, 0);
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, border-bottom 0.2s ease-in-out 0.6s;

    &.visible {
      border-bottom: 2px solid rgba(40, 106, 195, 1);
      max-height: 440px;
    }

    .job-details {
      flex: 1;
    }

    .description {
      flex: 2;
      margin-bottom: 32px;

      @include sm {
        margin-top: 20px;
      }

    }

    @include sm {
      margin-top: 20px;
      flex-direction: column;
    }
  }
}

/* ------------- Xp section ends --------------*/


/* ------------- Projects section begins --------------*/

.projects-section {
  padding: 72px 0;
}

.projects {
  display: flex;
  flex: 1;
  justify-content: space-between;

  @include custom(850) {
    display: flex;
    flex-direction: column;
  }

  .project-link { 
    display: inline-flex;
    
    @include md{
      margin: 0 auto;
    }
  }

  .project {
    &:hover {
      h4 {
        color: $azulejo-marciano;
      }

      .overlay-text {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    h4 {
      transition: color 0.4s ease-in-out;
      color: $dunas-de-marte;
    }

    .project-image {
      max-width: 244px;
      margin-bottom: 20px;
    }

    .project-interaction {
      background-color: none;
      position: relative;
    }

    .overlay-text {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all 0.3s ease;
      background-color: $azulejo-marciano;
    }



    @include custom(850) {
      margin-bottom: 120px;
    }
  }

  
}

/* ----------------------------------- Projects section ends-----------------------------------*/

/* ----------------------------------- article style -----------------------------------*/

article {
  display: grid;
  grid-template-columns: 80px 1fr 680px 80px;
  column-gap: 10px;

  h3 {
    grid-column: 1 / 3;
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 96px;
    letter-spacing: -1.2px;
    color: $ground-control;
    margin: 260px 0px 20px 160px;
  
    @include sm {
      font-size: 28px;
      line-height: 36px;
    }
  
  }

  h4 {
    grid-column: 2;
    margin: 88px 0px 0 60px;
    color: $azulejo-marciano;
  }

}

/*article > * {
  grid-column: 3;
  min-width: 0;
}*/ 

.project-intro {
  grid-column: 1 / -1;
  margin: 40px 0px 40px 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.8px;
  color: #20569F;
}

.project-context {
  display: grid;
  grid-column: 1 / -1;
  grid-auto-flow: column;
  margin: 0 0 0 160px;
}

.disciplines { 
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.8px;
  color: $ground-control;

}

.project-details {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.8px;
  color: $ground-control;
  
}



.article-text {
  color: $ground-control; 
  display: inline-block;
  margin: 96px 0 0 0;
  
}

.article-text:first-of-type {
  margin-top: 80px;
}

h5:first-of-type {
  margin-top: 80px;
}


.project-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-column: 1 / -1;
  grid-gap: 15px;
  margin: 52px 0 52px 0;     
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    background-color: $nevoa-espacial;
}

.grid__item--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 8;

}

.grid__item--2 {
  grid-column-start: 6;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.grid__item--3 {
  grid-column-start: 6;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 8;
}

.ending-decoration {
  grid-column: 1 / -1;
  justify-self: center;
  margin: 80px 0 120px 0;
}


.know-more-image-anvisa {
  display: none;
}

.know-more a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  color: $azulejo-marciano;
  pointer-events: auto;
  cursor: pointer;
  transition-timing-function: ease-in;
  }


  .know-more:hover ~ .know-more-image-anvisa {
    display: flex; 
  }

/*----------------------------------- About style -----------------------------------*/

.about-container{
  display: grid;
  grid-template-columns: 100px 0.8fr 680px 100px;
  grid-column-gap: 20px;


  .description {
    grid-column-start: 3;
    margin: 254px 0 0 0;
    z-index: -1;
  }

  h1 {
    grid-column-start: 3;
    margin: 80px 0 0 0;
    z-index: -1;
  }

  .h1-pink{ 
    color: #DBA08F;
  }

  h2 {
    grid-column-start: 3;
    margin: 20px 0 60px 0;
  }

  h3 {
    grid-column-start: 2;
    color: $dunas-de-marte;
    margin: 0 0 60px 0;
  }

  h6 { 
    grid-column-start: 3;
    margin: -200px 0 0 0;
    padding: 0;
  }

  p {
    grid-column-start: 3;
    margin: 0 0 60px 0;
  }

  p:nth-of-type(5n) {
    margin: -40px 0 100px 0;
  }

  .pilar {
    grid-column-start: 3;
    margin: 0 0 80px 0;
  }
 

}

.go-further {
  display: grid;
  grid-template-columns: 100px 0.8fr 680px 100px;
  grid-column-gap: 20px;
  
  .further-image {
    grid-column-start: 2;
    max-width: 372px;
    z-index: -1;
  }

  h1 {
    grid-column-start: 3;
    margin: 80px 0 0 0;
    z-index: -1;
  }

  p {
    grid-column-start: 3;
    margin: 0 0 60px 0;
  }

  .primary-btn {
    grid-column-start: 2;
  }

  .secondary-btn {
    grid-column-start: 3;
  }

}

.branding-figures {
  display: grid;
  grid-template-columns: 120px 0.8fr 680px 100px;

  .brand-mood {
    max-width: 376px;
    z-index: -1;
  }

  .brand-profile { 
    max-width: 376px;
    margin: 254px 0 0 0;
  }
}

.key-step {
  user-select: none;
  color: $azulejo-marciano;

  &:hover {
    color: $azulejo-marciano;
    cursor: pointer;
  }

  &:active {
    color: $azulejo-marciano;
  }

  @include sm {

  }

}

.active, .key-step:hover {
  color: $azulejo-marciano;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}